#enable_html_escaping()
        #if ($searchRequest)
        #set ($urlPrefix = "${req.contextPath}/secure/IssueNavigator.jspa?reset=true")
        #end
<table width="100%" class="aui" id="single_groupby_report_table">
    <!--<thead>-->
        <!--<tr>-->
            <!--<th colspan="4">-->
                <!--<h2>$i18n.getText('due-date-report.name'): $textutils.htmlEncode($searchRequest.name)</h2>-->
            <!--</th>-->
        <!--</tr>-->
    <!--</thead>-->
    <tbody>

        <!--<h2>$dueDate</h2>-->
        <!--<h2>$dueDateParam</h2>-->
        #if ($issues.size() > 0)
        <tr>
            <th>Key</th>
            <th>Summary</th>
            <th>Due Date</th>
            <th>Assignee</th>
        </tr>

        #foreach ($issue in $issues)

        <tr>
            <td class="key">
                <a href="$req.contextPath/browse/$issue.getKey()">$issue.getKey()</a>
            </td>
            <td class="summary" >$issue.getSummary()</td>
            <td>
                #if($issue.getDueDate())
                $formatter.format($issue.getDueDate())
                #end
            </td>

            <td class="assignee">
                #if($issue.getAssignee())
                $issue.getAssignee().getDisplayName()
                #else
                $i18n.getText('common.concepts.unassigned')
                #end
            </td>
        </tr>
        #end
        #else
        <tr>
            <td colspan="4">
                <span class="subText">$action.getText("common.concepts.noissues").</span>
            </td>
        </tr>
        #end

    </tbody>
</table>